{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Delivery App{% endblock %}</title>
  </head>
  <body>
  <h1>
  <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>
    {% if user.is_restaurant %}
    <a href="{% url 'restaurant_account' %}" class="btn btn-outline-secondary">My Account</a>
	{% elif user.is_customer %}
	<a href="{% url 'customer_account' %}" class="btn btn-outline-secondary">My Account</a>
	{% else %}
	<a href="{% url 'driver_account' %}" class="btn btn-outline-secondary">My Account</a>
	{% endif %}
	<a href="{% url 'logout' %}" class="btn btn-outline-secondary">Logout</a>
	

  </h1>
    <div class="container">
      
        {% block firstb %}
        {% endblock %}
		
      {% block maincontent %}
      {% endblock %}
	  
	  {% block mainbody %}
	  {% endblock %}
    </div>
  </body>
</html>