{% extends 'base.html' %}




{% block maincontent %}
Edit Card Details
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <form method="post" novalidate>
        {% csrf_token %}
	Card Number:<input type="Number" name="cardNumber" label ="Card Number"value = "{{card.cardNumber}}"/><br>
	Security Number:<input type="Number" name="securityNumber" label ="Security Number"value = "{{card.securityNumber}}"/><br>
	Card Holder Name:<input type="Text" name="CardHolderName"label ="Card Holder Name" value = "{{card.cardHolderName}}"/><br>
	Pin Number:<input type="Number" name="pinNumber" label ="Pin Number"value = "{{card.pinNumber}}"/><br>
	Expiry Date:<input type="Date" name ="expiryDate" label ="Expiry Date" value ="{{card.expiryDate}}"?><br>


		
		
        <button type="submit" class="btn btn-success">Save changes</button>
      </form>
    </div>
  </div>
{% endblock %}