{% extends 'base.html' %}




{% block maincontent %}
Edit Card Details
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <form method="post" novalidate>
        {% csrf_token %}
	<input type="Number" name="cardNumber" value = "{{card.cardNumber}}"/><br>
	<input type="Number" name="securityNumber" value = "{{card.securityNumber}}"/><br>
	<input type="Text" name="CardHolderName" value = "{{card.cardHolderName}}"/><br>
	<input type="Number" name="pinNumber" value = "{{card.pinNumber}}"/><br>
	{{card.expiryDate}}<br>


		
		
        <button type="submit" class="btn btn-success">Save changes</button>
      </form>
    </div>
  </div>
{% endblock %}