{% extends 'base.html' %}

{% block maincontent %}
{% endblock %}

{% block mainbody %}
  <div class="container">
    <h2>My Account </h2>
    <form method="post" novalidate>
      {% csrf_token %}
      {{ form.as_p }} 
	  <br>
	  <a href="{% url 'card_details' %}">Payment Details</a><br>
	  <a href="{% url 'customer_address' %}">Address Update</a><br>
	  <a href="{% url 'extended_customer_account'%}">Extended Account</a><br>
	 




	  
	  <br></br>
	  
      <button type="submit" class="btn btn-primary">Update Account</button>
	  
	  
    </form>
  </div>
{% endblock %}