{% extends 'base.html' %}
{% block maincontent %}

 <div id="container"></div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>

<script>
  Highcharts.chart('container', {
      chart: {
          type: 'column'
      },
      title: {
          text: 'Drivers Used'
      },
      xAxis: {
          categories: [
            {% for entry in dataset %}'{{ entry.drivername }} ' {% if not forloop.last %}, {% endif %}{% endfor %}
          ]
      },
      series: [{
          name: 'Times Each Driver Delivered',
          data: [
            {% for entry in dataset %}{{ entry.count }}{% if not forloop.last %}, {% endif %}{% endfor %}
          ],
          color: 'green'
      }]
  });
</script>
{% for item in mylist %}{{ item.name}}{%endfor%}

{% for a in amount %}{{ a}}{%endfor%}

{% endblock %}