{% extends 'base.html' %}
{% block maincontent %}

 <div id="container"></div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>

<script>
  Highcharts.chart('container', {
      chart: {
          type: 'column'
      },
      title: {
          text: 'Total Orders'
      },
      xAxis: {
          categories: [
            {% for entry in dataset %}'{{ entry.customername }} ' {% if not forloop.last %}, {% endif %}{% endfor %}
          ]
      },
      series: [{
          name: 'Orders',
          data: [
            {% for entry in dataset %}{{ entry.count }}{% if not forloop.last %}, {% endif %}{% endfor %}
          ],
          color: 'green'
      },
	  {
          name: 'Completed',
          data: [
            {% for entry in dataset %}{{ entry.confirmed }}{% if not forloop.last %}, {% endif %}{% endfor %}
          ],
          color: 'red'
      },
	  {
          name: 'NotCompleted',
          data: [
            {% for entry in dataset %}{{ entry.notconfirmed }}{% if not forloop.last %}, {% endif %}{% endfor %}
          ],
          color: 'blue'
      }]
  });
</script>
{% for item in mylist %}{{ item.name}}{%endfor%}

{% for a in amount %}{{ a}}{%endfor%}

{% endblock %}