{% extends 'base.html' %}

{% block maincontent %}

   <table>
    <thead >
      <tr>
        <th>MenuItem</th>
        <th>Cost</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for m in menu %}
       <tr>
	   <td>
            {{ m.name }}            
          </td>
          <td>
            {{ m.price }}            
          </td>
		 
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
{% block mainbody %}
  <div class="container">
    <h2>OrderView </h2>
    <form method="post" novalidate>
	{% csrf_token %}
		<table>
    <thead >
      <tr>
        <th>MenuItem</th>
        <th>Cost</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for m in menu %}
       <tr>
	   <td>
            {{ m.name }}            
          </td>
          <td>
            {{ m.price }}            
          </td>
		  
		  <td><input type="checkbox" name={{m.id}} /></td>
		  <td>  <input type="number" style="width: 4em" name={{m.tagname2}} /></td> 

		 
        </tr>
      {% endfor %}
    </tbody>
  </table>
	  
	  <br></br>
	  
      <button type="submit" class="btn btn-primary">Order</button>
	  
	  
    </form>
  </div>
{% endblock %}