{% extends 'base.html' %}


{% block maincontent %}

 <div id="container"></div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>

<script>
  Highcharts.chart('container', {
      chart: {
          type: 'column'
      },
      title: {
          text: 'Rating for each Delivery'
      },
      xAxis: {
          categories: [
            {% for entry in dataset %}'{{ entry.id }}' {% if not forloop.last %}, {% endif %}{% endfor %}
          ]
      },
      series: [{
          name: 'Rating',
          data: [
            {% for entry in dataset %}{{ entry.rating }}{% if not forloop.last %}, {% endif %}{% endfor %}
          ],
          color: 'green'
      }]
  });
</script>
Your Average Rating is: {{average}}
{% endblock %}