{% extends 'base.html' %}

{% block maincontent %}
  <h2>Restaurant Account</h2>
{% endblock %}

{% block mainbody %}
  <div class="container">
    <h2>My Account </h2>
    <form method="post" novalidate>
      {% csrf_token %}
      {{ form.as_p }} 
	  <a href="{% url 'restaurant_menu' user.id %}">Menu Edit</a>
	  <a href="{% url 'restaurant_address' %}">Address Update</a>
	  <a href="{% url 'restaurant_statistics' %}">Statistics</a>
	  <a href="{% url 'restaurant_account' %}">Account</a>

	  
	  <br></br>
	  
      <button type="submit" class="btn btn-primary">Update Account</button>
	  
	  
    </form>
  </div>
{% endblock %}