{% extends 'base.html' %}

{% block maincontent %}

   <table>
    <thead >
      <tr>
        <th>MenuItem</th>
        <th>Cost</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for m in menu %}
       <tr>
	   <td>
            {{ m.name }}            
          </td>
          <td>
            {{ m.price }}         
          </td>
		 <td>
		 <a href="{% url 'restaurant_item_edit' user.id m.id %}">Offer Options</a>
		 </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
{% block mainbody %}
  <div class="container">
    <form method="post" novalidate>
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Create a Menu Item</button>
    </form>
  </div>
  <a href="{% url 'restaurant_menu_delete' user.id %}">Menu Item Deletion Page</a>

{% endblock %}