{% extends 'base.html' %}
{% block maincontent %}

  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <form method="post" novalidate>
		         my address   {{ addresses.0 }}  
					<br>
		          restaurant address  {{ addresses.1 }}      
<br>
					restaurant name = {{order.restaurant.user.username}}
					<br>
					{% for i in items %}
					{{i.item.name}} 
					{{i.item.price}}<br>
					{%endfor%}
					
					



		
		
        <button type="submit" class="btn btn-success">Save changes</button>
      </form>
    </div>
  </div>
{% endblock %}
