{% extends 'base.html' %}
{% block maincontent %}
<h2>
Your Orders Details
</h2>
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <form method="post" novalidate>
	  	{% csrf_token %}
		         My Address:   {{ addresses.0 }}  
					<br>
		          Restaurant Address  {{ addresses.1 }} 
<br>				Customer Name = {{order.customer.firstname}} {{order.customer.lastname}}<br>
					Restaurant Name = {{order.restaurant.user.username}}
					<br>
					{% for i in items %}
					{{i.item.name}} 
					€{{i.item.price}} x {{i.amount}}<br>
					{%endfor%}
					Order Cost : €{{order.cost}}<br>
					Delivery:	 € 5.00<br>
					Order Total: € {{order.totalCost}}<br>
					



		
		
        <button type="submit" class="btn btn-success">Complete Purchase</button>
      </form>
    </div>
  </div>
{% endblock %}
