{% extends 'base.html' %}

{% block maincontent %}

   <table>
    <thead >
      <tr>
        <th>MenuItem</th>
        <th>Cost</th>
		<th>Amount</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for i in items %}
       <tr>
	   <td>
            {{ i.item.name }}            
          </td>
          <td>
            €{{ i.item.price }} 			
          </td>
		   <td>
            {{ i.amount }} 			
          </td>
		 
        </tr>
      {% endfor %}
	 
	  <td><br><br>
	  Delivery Cost: € 5 <br>
	  Total Cost:€{{order.cost}}</td>
    </tbody>
  </table>
  
{% endblock %}
{% block mainbody %}
  <div class="container">
    <h2>OrderView </h2>
    <form method="post" novalidate>
	{% csrf_token %}
	  
	  <br></br>
	  
      <button type="submit" class="btn btn-primary">Order</button>
	  
	  
    </form>
  </div>
{% endblock %}