{% extends 'base.html' %}


{% block maincontent %}
<h1>
</h1>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
		<th>Total Views</th>
        <th>Total Orders</th>        
		<th>Percentage Of Views Turned To Sales</th>
		<th>Most Sold Item</th>
		<th>Best Customer</th>
		<th>Total Items Sold</th>
		
      </tr>
    </thead>
    <tbody>
        <tr>
		<td>
            {{ views }}
          </td>
         <td>
            {{ count }}
          </td>
		  <td>
            {{ percent }}%
          </td>
		  <td>
            {{ favitem.name }}
          </td>
		  <td>
            {{ favcust.user.username }}
          </td>
		  <td>
            {{ itemcount }}
          </td>
        </tr>
    </tbody>
  </table>
{% endblock %}